@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}

h2{
    text-decoration: underline;
    text-underline-offset: 25%;
    padding: 20px;
}

h3{
    margin: 30px;
}

h2:hover{
    cursor: pointer;
    border: 2px dashed white;
    background-color: white;
    color: black;
    border: 3px solid black;
}

#titleSection{
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: white;
    color: black;
    width: 100%;
    border-bottom: 5px solid grey;
}

#playerSelect{
    font-size: 20px;
    position: fixed;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
    background-color: grey;
    border: 5px solid white;
    height: 10vw;
    color: white;
}

#rulesDiv{
    position: fixed;
    bottom: 0;
}

.rulesList{
  font-size: 19px;
}

.listItem{
  margin-bottom: 30px;
}

#diceRules{
  display: none;
  position: relative;
  bottom: 150px;
}

.playerRules{
  width: 500px;
  margin: 70px;
}

#rules:hover{
  background-color: black;
  color: white;
  border: 2px dashed white;
}

#menuDiv{
    display: none;
    position: fixed;
    margin-right: 20px;
    bottom: 0;
    right: 0;
}

#backMenu{
    display: flex;
    justify-content: center;
}

#backMenu:hover{
  background-color: black;
  color: white;
  border: 2px dashed white;
}

#gameBox{
    display: none;
}

#oneBox{
    display: none;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: black;
    border: 5px solid grey;
    padding: 30px;
    margin-bottom: 20%;
    width: 500px;
}

#stats{
    display: flex;
    justify-content: center;
}

.statsBox{
    display: flex;
    align-items: center;
}

button{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
    transition: 0.5s;
}

#roll:hover{
    background-color: aliceblue;
}

/* two player section */

#playerBoxOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  color: black;
  border: 5px solid rgb(78, 255, 7);
  padding: 30px;
  margin-right: 20%;
  width: 400px;
}  

#playerOneDiv{
  display: none;
  position: relative;
  left: -100%;
  bottom: 30.1%;
}

.playerTitle{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 25%;
  padding: 20px;
  font-size: 30px;
}

#playerBoxTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  color: black;
  border: 5px solid grey;
  opacity: 0.5;
  padding: 30px;
  margin-right: 20%;
  width: 400px;
}

#playerTwoDiv{
  display: none;
  position: relative;
  left: 115%;
  bottom: 65%;
}

#rollsTwo{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dice animation section */

#container {
    background-color:rgb(123, 129, 138);
    margin-bottom: 100px;
    height: 15vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid aliceblue;
  }

  .dice {
   
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s; }
  
  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: #ef233c;
    box-shadow: inset 2px 2px #d90429;}
  
  .dice-one {
    left: 450px; }
  
  .side {
    position: absolute;
    background-color: #ffF;
    border-radius:5px;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
  }
  
  .side:nth-child(1) {
    transform: translateZ(3.1em); }
  
  .side:nth-child(6) {
    transform: rotateY(90deg) translateZ(3.1em); }
  
  .side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3.1em); }
  
  .side:nth-child(4) {
    transform: rotateX(90deg) translateZ(3.1em); }
  
  .side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(3.1em); }
  
  .side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(3.1em); }
  
  .two-1, .three-1, .four-1, .five-1, .six-1 {
    top: 20%;
    left: 20%; }
  
  .four-3, .five-3, .six-4 {
    top: 20%;
    left: 80%; }
  
  .one-1, .three-2, .five-5 {
    top: 50%;
    left: 50%; }
  
  .four-2, .five-2, .six-3 {
    top: 80%;
    left: 20%; }
  
  .two-2, .three-3, .four-4, .five-4, .six-6 {
    top: 80%;
    left: 80%; }
  
  .six-2 {
    top: 50%;
    left: 20%; }
  
  .six-5 {
    top: 50%;
    left: 80%; 
  }

  .show-1 {
    transform: rotateX(720deg) rotateZ(-720deg); }
  
  .show-2 {
    transform: rotateX(-900deg) rotateZ(1080deg); }
  
  .show-6 {
    transform: rotateY(-450deg) rotateZ(-1440deg); }
  
  .show-3 {
    transform: rotateY(810deg) rotateZ(720deg); }
  
  .show-4 {
    transform: rotateX(-810deg) rotateZ(-1080deg); }
  
  .show-5 {
    transform: rotateX(450deg) rotateZ(-720deg); }