@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

h2{
    text-decoration: underline;
    text-underline-offset: 25%;
    padding: 20px;
}

h3{
    margin: 30px;
}

h2:hover{
    cursor: pointer;
    border: 2px dashed white;
}

#titleSection{
    margin-bottom: 10%;
    font-size: 30px;
}

#playerSelect{
    font-size: 20px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 18%;
}

#menuDiv{
    display: none;
}

#gameBox1{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: black;
    border: 5px solid grey;
    padding: 30px;
    margin-bottom: 20%;
    width: 500px;
}

#stats{
    display: flex;
    justify-content: center;
}

.statsBox{
    display: flex;
    align-items: center;
}

#roll{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
    transition: 0.5s;
}

#roll:hover{
    background-color: aliceblue;
}


